.rightbar {
  flex: 2;
}

.rightbarWrapper {
  padding: 20px 20px 0 0;
}

.dropdown {
  background-color: #f1f5f9;
  border: 1px solid #94a3b8;
  border-radius: 4px;
  outline: none;
  font-size: large;
  font-weight: bold;
  margin-top: 2rem;
  padding: 1rem;
  width: 15vw;
}

.latest,
.upvotes {
  cursor: pointer;
  margin: 2rem;
  font-size: large;
  font-weight: bold;
  padding: 10px 20px;
  background-color: #a5f3fc;
  border-radius: 6px;
}
